@import 'sakura.css/scss/sakura';

* {
  font-family: 'Noto sans', sans-serif !important;
}

h1 {
  font-family: 'Trebuchet MS' !important;
}

h2,
h3 {
  border-bottom: 1px #363636 dashed;
  font-family: 'Trebuchet MS' !important;
}

dt {
  font-weight: bold;
  margin-top: 12px;
}

dd {
  margin-left: 1rem;
}

button {
  border-radius: 4px;
}