@import 'ress';

html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section[id] {
  .inner-container {
    min-height: 100vh;
    // min-height: max(100vh, 560px);
    min-width: 560px;
    width: 100vmin;
    margin: auto;
    padding: 1rem 0;
  }
}