$color-accent: #4c555b;
$color-main: #d9ddde;
$color-black: #1f3134;
$color-white: #fff;

.author-icon {
  height: 75px;
  width: 75px;
  overflow: hidden;
  border-radius: 3px;
  margin-right: 1.2rem;
  border-radius: 50%;
}

.hero-images {
  position: relative;
  width: 330px;
  height: 300px;
  .img-wrap {
    position: absolute;
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}