.author {
  margin-bottom: 1.1rem;
  display: flex;
  align-items: center;
}

.author-icon {
  height: 75px;
  width: 75px;
  overflow: hidden;
  border-radius: 3px;
  margin-right: 1.2rem;
}

.author-name {
  font-size: 1.4rem;
}

.author-title {
  font-size: 0.8rem;
}

.skill-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.skill-list > li:not(:last-of-type) {
  margin-right: .15em;
}

.skill-list > li:not(:last-of-type)::after {
  margin-left: .15em;
  content: "/";
}

.sns-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.sns-list > li:not(:last-of-type) {
  margin-right: .5em;
}
